<div class="">
  <div id="aboutContainer">
    <h1>About Page</h1>
    {{#each about}}
    <div class="aboutSection">
      <h4>{{this.subtitle}}</h4>
          {{#each this.paragraph}}
          <p>{{this}}</p>
          {{/each}}
    </div>
    <div class="buttonsContainer">
      <button class="aboutEditButton">edit</button>
      <button class="aboutDeleteButton">delete</button>
    </div>
    {{/each}}
  </div>
  <button id="newSection" class="newSectionButton">New Section</button>
  <div id='newInput' class='hider'>
    <div class="aboutSection">
      <input placeholder="title" />
      <input placeholder="what mind aid is about" />
    </div>
    <button id='addParagraphButton'>Add another paragraph</button>
    <button id='saveNewSection' class="saveButton">save</button>
    <button id='cancelNewSection' class="cancelButton">cancel</button>
  </div>
</div>
<script src="../public/js/about.js"></script>
