<div class="">
  <div id="aboutContainer">
    <h1>About Page</h1>
    {{#each about}}
    <div class="aboutParagraph">
      <h4>{{this.subtitle}}</h4>
      <p>{{this.paragraph}}</p>
    </div>
    <div class="buttonsContainer">
      <button class="aboutEditButton">edit</button>
      <button class="aboutDeleteButton">delete</button>
    </div>
    {{/each}}
  </div>
  <button id="newSection" class="newSectionButton">New Section</button>
  <div id='newInput' class='hider'>
    <input placeholder="title">
    <textarea placeholder="what mind aid is about" rows="8" cols="40"></textarea>
    <button id='saveNewSection' class="saveButton">save</button>
    <button id='cancelNewSection' class="cancelButton">cancel</button>
  </div>
</div>
<script src="../public/js/about.js"></script>
