<div id="aboutContainer">
  <h1>About Page</h1>
  {{#each about}}
    <div class="aboutParagraph">
      <h4>{{this.subtitle}}</h4>
      <p>{{this.paragraph}}</p>
    </div>
    <div class="buttonsContainer">
      <button class="aboutEditButton">edit</button>
      <button class="aboutDeleteButton">delete</button>
    </div>
  {{/each}}
  <button id="newSection" class="newSectionButton">New Section</button>
  <div class='tasnim'>
    <h1>yo tasnim</h1>
    <input placeholder="title">
    <textarea placeholder="what mind aid is about" rows="8" cols="40"></textarea>
    <button class="saveButton">save</button>
    <button class="cancelButton">cancel</button>
  </div>
</div>
