<h1>hello learn page</h1>

{{#each learn}}
  <div class="learnSection">
    <h4>{{this.category}}</h4>
    {{#each this.things_to_know}}
      <p>{{this}}</p>
    {{/each}}
  </div>
  <div class="buttonsContainer">
    <button class="editButton">edit</button>
    <button class="deleteButton">delete</button>
  </div>
{{/each}}

<button id="newSection" class="newSectionButton">New Section</button>
<div id='newInput' class='hider'>
  <div class="learnSection">
    <input placeholder="category" />
    <input placeholder="thing to know" />
  </div>
  <button id='addParagraphButton'>Add another thing</button>
  <button id='saveNewSection' class="saveButton">save</button>
  <button id='cancelNewSection' class="cancelButton">cancel</button>
</div>

<script src="../public/js/learn.js"></script>
