<h1>hello learn page</h1>

{{#each learn}}
  <div class="learnSection">
    <h2>{{this.category}}</h2>
    <h3>{{this.subtitle}}</h3>
    <h5>{{this.link}}</h5>
    {{#each this.thingsToKnow}}
      <p>{{this}}</p>
    {{/each}}
  </div>
  <div class="buttonsContainer">
    <button class="editButton">edit</button>
    <button class="deleteButton">delete</button>
  </div>
{{/each}}

<button id="newSection" class="newSectionButton">New Section</button>
<div id='newInput' class='hide'>
  <div class="learnSection">
    <input placeholder="category" />
    <input placeholder="subtitle">
    <input placeholder="link">
    <input placeholder="thing to know" />
  </div>
  <button id='addParagraphButton'>Add another thing</button>
  <button id='saveNewSection' class="saveButton">save</button>
  <button id='cancelNewSection' class="cancelButton">cancel</button>
</div>

<script src="../public/js/learn.js"></script>
