<h1>hello listen page</h1>

<div class="listenSection">
  <h2>L</h2>
  <p>{{listen.listen.letterL}}</p>
  <h2>I</h2>
  <p>{{listen.listen.letterI}}</p>
  <h2>S</h2>
  <p>{{listen.listen.letterS}}</p>
  <h2>T</h2>
  <p>{{listen.listen.letterT}}</p>
  <h2>E</h2>
  <p>{{listen.listen.letterE}}</p>
  <h2>N</h2>
  <p>{{listen.listen.letterN}}</p>
</div>

<h2 id='convoStarter'>Conversation Starters</h2>
{{#each listen.conversation_starters}}
  <div class="listenSection">
    <p>{{this}}</p>
  </div>
  <div class="buttonsContainer">
    <button class="editButton">Edit</button>
    <button class="deleteButton">Delete</button>
  </div>
{{/each}}

<button id="newSection" class="newSectionButton">New Section</button>
<div id='newInput' class='hider'>
  <div class="listenSection">
    <input placeholder="new convo starter" />
  </div>
  <button id='saveNewSection' class="saveButton">save</button>
  <button id='cancelNewSection' class="cancelButton">cancel</button>
</div>

<script src="../public/js/listen.js"></script>
