<div id="referContainer">
  <h1>Refer page</h1>
  <div class="national">
    <h2>National</h2>
    {{#each refer.national}}
    <div>
      <h2>
        {{this.section}}
      </h2>
        <p>Phone: {{this.info.phone}}</p>
        <p>Website: <a href={{this.info.link}}>{{this.info.link}}</a></p>
        <p>{{this.info.advice}}</p>
    </div>
    <button id="referNationalEdit">Edit</button>
    <button id="referNationalDelete">Delete</button>
    {{/each}}
  </div>
  <div class="in_school">
    <h2>In School</h2>
    {{#each refer.in_school}}
    <div>
      {{#each this.info}}
        <div>
          <h3>Name: {{this.name}} </h3>
          <p>Postion: {{this.position}}</p>
          <p>Description: {{this.description}}</p>
          <p>Email: {{this.email}}</p>
          <p>Phone: {{this.phone}} </p>
        </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
  <div class="in_community">
    <h2>People In Community</h2>
    {{#each refer.in_community}}
    <div>
      <h3>Name: {{this.name}} </h3>
      <p>Postion: {{this.position}}</p>
      <p>Description: {{this.description}}</p>
      <p>Email: {{this.email}}</p>
      <p>Phone: {{this.phone}} </p>
      {{#each this.links}}
        <p>Site name {{this.name}}</p>
        <p>link {{this.link}}</p>
      {{/each}}
    </div>
    {{/each}}
  </div>
  <div class="self_referral">
    <h2>Services In Community</h2>
    {{#each refer.self_referral}}
    <div>
      <h3>Name: {{this.service_name}} </h3>
      <p>Description: {{this.description}}</p>
      <p>Email: {{this.email}}</p>
      {{#each this.links}}
        <p>Site name {{this.name}}</p>
        <p>link {{this.link}}</p>
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>
