body {
  margin: 0;
}

#logo {
  height: 6vw;
  margin-left: 1.5vw;
}

#navbar {
  position: fixed;
  width: 100%;
  background-color: #1266E3;
  padding: 0.5vw;
}

a {
  text-decoration: none;
  color: black;
}

#homeLink {
  float: right;
  margin: 2vw 2vw 0 0;
  font-size: 2vw;
  color: white;
}

#footer {
  background-color: #282828;
  height: 60px;
  width: 100%;
  /*position: absolute;*/
  bottom: 0;
  color: white;
  padding: 1vw 0 0 1vw;
}

#footer p {
  margin: 20px 0;
}

#homeList li {
  list-style-type: none;
  text-align: center;
  margin: auto;
  width: 60%;
  border: 1px solid lightgrey;
  border-radius: 5%;
  margin: 1vw;
  padding: 0.5vw 3vw;
}

#homeList {
  position: absolute;
  left: 35%;
  top: 8vw;
}

#loginContainer {
  border: 1px solid #282828;
  position: absolute;
  margin: 20vw 0 0 30vw;
  padding: 3vw;
}

#loginContainer span, button {
  margin: auto;
  padding: 1vw;
  display: block;
}

#loginContainer button {
  margin-top: 1vw;
}

#loginHeader {
  position: absolute;
  width: 20%;
  left: 3vw;
  top: 8vw;
}

#loginResponse {
  color: red;
}

#logout {
  float: right;
  padding: 0.8vw 2vw 0 0;
}

#aboutContainer {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 640px;
  width: 94%;
}

#aboutContainer h1 {
  text-align: center; 
}

.buttonsContainer {
  display: inline-block;
  margin-left: 40%;
}

.aboutEditButton {
  background-color: red;
  float: left;
  margin-right: 1em;

}

.aboutDeleteButton {
  background-color: pink;
}

.newSectionButton {
  background-color: green;
  margin: 3vw auto;
}

.aboutParagraph {
  border: 1px solid lightgrey;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  border-radius: 10px;
}

#listenContainer {
  border: 1px solid #FAFAFA;
  background-color: #FAFAFA;
  border-radius: 10px;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #logo {
    height: 15vw;
    margin-left: 3vw;
  }

  #navbar {
    padding: 3vw;
  }

  #homeLink {
    margin: 5vw 3vw 0 0;
    font-size: 5vw;
  }
  #footer {
    height: 20vw;
    padding: 1vw 0 0 5vw;
  }
}
