body {
  margin: 0;
}

#logo {
  height: 6vw;
  margin-left: 1.5vw;
}

#homeLink {
  float: right;
  margin: 2vw 2vw 0 0;
  font-size: 2vw;
  color: white;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #282828;
  color: white;
  padding: 0 0 0 3vw;
}

#footer p {
  margin: 20px 0;
}

.list-group {
  margin-top: 118px;
  margin-left: 450px;
  margin-right: 450px;
}

#list-group-item a {
  align-content: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}

#loginContainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

#buttonContainer {
  margin-top: 12px;
}

#aboutCo {
  margin-top: 116px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 116px;
}

.buttonsContainer {
  display: inline-block;
  margin-left: 40%;
}

/*.editButton {
  background-color: red;
  float: left;
  margin-right: 1em;

}

.deleteButton {
  background-color: pink;
}*/

/*.newSectionButton {
  background-color: green;
  margin: 3vw auto;
}*/

.aboutSection {
  border: 1px solid lightgrey;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  border-radius: 10px;
}

.listenSection {
  border: 1px solid lightgrey;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  border-radius: 10px;
}

#convoStarter {
  text-align: center;
}

#listenContainer {
  border: 1px solid #FAFAFA;
  background-color: #FAFAFA;
  border-radius: 10px;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
  text-align: center;
}

#referContainer {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 640px;
  width: 94%;
}

.saveButton {
  background-color: pink;
}

@media screen and (max-width: 500px) {
  #logo {
    height: 15vw;
    margin-left: 3vw;
  }

  #navbar {
    padding: 3vw;
  }

  #homeLink {
    margin: 5vw 3vw 0 0;
    font-size: 5vw;
  }
  #footer {
    height: 20vw;
    padding: 1vw 0 0 5vw;
  }
}

.hide {
  display: none;
}
