<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>MindAid Admin</title>
  </head>
  <body>
    <nav id="navbar">
      <a href="/"><img id="logo" src="../public/assets/mindAidlogo.png"></a>
      <p id="logout">Logout</p>
    </nav>
    <div>{{{content}}}</div>
    <footer id="footer">
      <p>founderandcosers</p>
    </footer>
    <script src="../public/js/logout.js"></script>
    <script src="../public/js/script.js"></script>
  </body>
</html>
